@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  background-color: #21242e;
}

.App{
  text-align: center;
  justify-content: center;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #68c3d4;
}

.refresh-btn:hover{
  cursor: pointer;
}

.search {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.search h2 {
  font-size: 25px;
  color: #68c3d4;
  padding: 10px;
}

.categories h2 {
  background-color: white;
  border-radius: 5px;
}

form{
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.radio{
  margin: 1em;
}

#radioPer{
  color: red;
  font-weight: bold;
}

#radioLoc{
  color: blue;
  font-weight: bold;
}

#radioOrg{
  color: green;
  font-weight: bold;
}

.radio label{
  color: white;
  margin: 0 20px;
  width: 1em;
  height: 1em;
}

.radio input{
  width: 1em;
  height: 1em;
}

.textInput{
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;
  width: 100%;
  padding: 6px 10px;
}

.search form button{
  background: #68c3d4;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.search form button:hover{
  background-color: #66aac3;
  font-weight: bolder;
}

.jaccardSlider{
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.jaccardSlider label {
  padding-right: 10px;
}

.jaccardSlider p {
  color: white;
  font-size: xx-large;
}

#inputNumber{
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}

.error{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: red;
  border-radius: 15px;
}

.error p {
  width: 1800px;
  margin: 0 auto;
  padding-bottom: 5px;
}

/* Node Box styling*/
 
.force-graph-container{
  margin: 0 auto;
  width: 1800px;
}

canvas{
  border-radius: 20px;
  margin: 0 auto;
}